body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
overflow: hidden;
display: flex;
flex-direction: column;
height: 100vh;
background-image: url('background.jpg'); /* Replace 'background.jpg' with your image path */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

#newLayout {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80%;
max-width: 400px;
padding: 20px;
background-color: rgba(255, 255, 255, 0.9); /* Different background */
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
text-align: center;
}

button {
font-family: 'YourFont', sans-serif;
padding: 15px 30px;
margin: 10px 0;
background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Gradient color /
color: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
border: none;
cursor: pointer;
transition: background 0.3s ease;
width: calc(100% - 40px); / Ensure buttons are the same width /
max-width: 300px; / Optional: control max width for larger screens */
}

button
{
background: linear-gradient(45deg, #feb47b, #ff7e5f); /* Hover effect */
}

#ticketsInfo {
font-size: 18px;
margin: 10px 0;
color: #000;
}

#gameContainer {
flex-grow: 1;
width: 100vw;
margin: 0;
border: none;
background-color: transparent; /* Ensure it is transparent to show the body's background image */
}

canvas {
display: block;
width: 100%;
height: 100%;
background-color: transparent; /* Make canvas background transparent */
}

#startScreen {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#userInfo {
position: absolute;
top: 5px;
left: 5px;
color: #000;
font-size: 18px;
background-color: #fff;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#points {
position: absolute;
top: 5px;
right: 5px;
color: #000;
font-size: 18px;
background-color: #fff;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#footer {
display: flex;
justify-content: space-around;
background-color: #f0f0f0;
padding: 10px 0;
position: fixed;
bottom: 0;
width: 100%;
}

.footer-button {
flex-grow: 1;
text-align: center;
padding: 5px 0;
margin: 0 5px;
background-color: transparent;
border: none;
cursor: pointer;
}

.footer-button img {
max-width: 30px;
height: auto;
}
